In [51]:
thislist=["Hilal Ahmad Khan","25 years","imsciences University,"]
print(thislist)

['Hilal Ahmad Khan', '25 years', 'imsciences University,']

In [52]:
thislist=["Hilal Ahmad Khan","25 years","imsciences University","Imsciences university","25 years"]
print(thislist)

['Hilal Ahmad Khan', '25 years', 'imsciences University', 'Imsciences university', '25 years']

In [53]:
thislist=["Hilal Ahmad Khan","25 years","imsciences University"]
print(len(thislist))

3

In [54]:
list1=["montly Expenses"]
list2=[1,13,67,82]
list3=[True,False]
list4=["and,or,and/or"]
list5=[8.0,4.5,3.9]
print(list1,list2,list3,list4,list5)

['montly Expenses'] [1, 13, 67, 82] [True, False] ['and,or,and/or'] [8.0, 4.5, 3.9]

In [55]:
list3=["True,False"]
print(list3[0])

True,False

In [56]:
Mylist=["Hilal",20,6.8,True]
print(Mylist)

['Hilal', 20, 6.8, True]

In [57]:
Yourlist=["Books",90,120.8,True]
print(Yourlist[-3])

90

In [58]:
Theirlist=["Hilal",20,6.8,True,"Marks given"]
print(Theirlist[0:4])

['Hilal', 20, 6.8, True]